<ion-header>
  <ion-navbar>
    <ion-title>
      {{ item.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="startSort()">
    <ion-item>
      <ion-label floating>Jumlah Data</ion-label>
      <ion-input type="text" [(ngModel)]="form.size" name="size"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" type="submit" block>Run</button>
    </div>
  </form>

  <ion-item text-wrap *ngIf="startTime">
    Start time: {{startTime}}
  </ion-item>
  <ion-item text-wrap *ngIf="endTime">
    End time: {{endTime}}
  </ion-item>
  <ion-item text-wrap *ngIf="elapsedTime">
    n: {{size}}<br>
    Elapsed time: {{elapsedTime}}ms
  </ion-item>
  <ion-item text-wrap>
    Battery Level: {{batteryLevel}}
  </ion-item>
  <ion-item text-wrap>
    Drained: {{drainedLevel}}
  </ion-item>
  <ion-item text-wrap *ngIf="elapsedTime">
    Result:
    <div [innerHTML] = "'<p>' + hehe + '</p>'"></div>
  </ion-item>
</ion-content>
